<html>
  <head>
  <title>The Caesar Cipher Web App</title>    
	</head>
  <body>
    <p>
    		<%= response %>
    </p>
    <form>
		  <input type='text' name='encrypt' />
      <p></p><input type="number" name="shift" value="2">
		  <input type='submit' value='Encrypt' />
		</form>

  </body>
</html>
