<html>
  <head>
  <title>The Caesar Cipher Web App</title>    
	</head>
  <body>
    
    <p>
    		<%= display_string %>
    </p>
    <p>
        <%= secret_word %>
    </p>
    <p>
        <%= attempts %>
    </p>
  </body>
</html>
