<html>
  <head>
  <title>The Hangman Web App</title>    
	</head>
  <body>
    <h1>Hangman</h1>
    <h3>Welcome</h3>
    <p>Can you guess the secret word? </p>
    <p><%= session[:display_string] %> </p>
    <p>Your incorrect guesses so far have been <%= session[:string_of_guesses] %>
    <p>You have <%= session[:attempts] %> remaining guesses.</p>
    <form action='/try' method='post'>
    <input type='text' name='guess' title='Enter word or letter' autofocus required />
    <input type='submit' value='Go' />
    <p>Put a letter or word in the box above and click go!</p>
  </form>
  </body>
</html>
