<html>
  <head>
  <title>The Hangman Web App</title>    
	</head>
  <body>
    <p>
    Bad luck, you lose! Better luck next time. The secret word was <%= session[:secret_word] %>. Better luck next time
    </p>
    <a href="/new">Play Again?</a>


  </body>
</html>
