<html>
  <head>
  <title>The Hangman Web App</title>    
	</head>
  <body>
    <p>
    Bad luck, you lose! Better luck next time. The secret word was <%= session[:secret_word] %>. Better luck next time
    </p>
    <p>Play again?</p>
    <input type='submit' value='Play Again' />

  </body>
</html>
