<html>
  <head>
  <title>The Hangman Web App</title>    
	</head>
  <body>
    <p>
    Congratulations, You aced it. <%= session[:secret_word] %> was correct. Try your luck again?
    </p>
    <a href="/new">Play Again?</a>

  </body>
  </body>
</html>
